<!--  Replace menu links here -->
<a class="logo__link" href="/">    
<img class="logo__image" src="../assets/images/favicon.ico" style="width:50px; height:50px">
</a>

<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li> -->
    
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#sql">SQL</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#plsql">PLSQL</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#r">R</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#python">Python</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#machine-learning">Machine Learning</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/tags.html#statistics">Statistics</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#paper">Paper</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#go">Go</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#algorithm">Algorithm</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html#etc">etc</a>
</li>



