<ul class="nav" role="menu">
    <li class="nav-HOME" role="menuitem"><a href="{{site.baseurl}}/">HOME</a></li>
    <li class="nav-SQL" role="menuitem"><a href="{{site.baseurl}}tag/sql/">SQL</a></li>
    <li class="nav-PLSQL" role="menuitem"><a href="{{site.baseurl}}tag/plsql/">PLSQL</a></li>
    <li class="nav-R" role="menuitem"><a href="{{site.baseurl}}tag/r/">R</a></li>
    <li class="nav-PYTHON" role="menuitem"><a href="{{site.baseurl}}tag/python/">PYTHON</a></li>
    <li class="nav-MACHINE-LEARNING" role="menuitem"><a href="{{site.baseurl}}tag/machine-learning/">MACHINE-LEARNING</a></li>
    <li class="nav-go" role="menuitem"><a href="{{site.baseurl}}tag/go/">GO</a></li>
    <li class="nav-PAPER" role="menuitem"><a href="{{site.baseurl}}tag/paper/">PAPER</a></li>
    <li class="nav-ALGORITHM" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">ALGORITHM</a></li>     
</ul>
