/*
* Mainly scss variables
*/

/* --- ↓ width and height ---- */

$tab-height: 3.2rem;
$tab-cursor-height: 1.6rem;

$sidebar-width-small: 190px;
$sidebar-width-medium: 190px;
$sidebar-width-large: 190px;

$topbar-height: 3rem;

$footer-height: 5rem;

$main-content-max-width: 1150px;

$panel-max-width: 300px;

$post-extend-min-height: 35rem;
